<!DOCTYPE html>
<html>
<head>
  <title>ProbablyTweeting</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
  <body>
		<div id="wrapper">
			<div class="header">
				<h1>Probably Tweeting</h1>
			</div>
		<div class="row">
			<div id="main_content" class="span8">
				<!-- Search -->
				<h2>This experiment has been retired as of 6/11/2013 with the Twitter API changeover</h2>
				<p class="lead tagline">Enter a Twitter handle to see if that user is currently tweeting!</p>
				<form class="form-search">
				  <input id="search_handle" type="text" class="input-medium search-query" value="@cyruskazemi">
				  <button id="submit" type="submit" class="btn btn-primary" disabled="true">Tweeting?</button>
				</form>
				<!-- Search result -->
				<div id="results">
				</div>
				<!--  -->
			</div>
			<div id="aside" class="span4">
				<h3><em>Did you know?</em></h3>
				<p>Users spend an average of <a href="http://www.mediabistro.com/alltwitter/social-media-minutes_b19034">21 minutes per visit</a> on Twitter</p>
			</div>
		</div>
</div>
		<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
		<%= javascript_include_tag "application" %>
  </body>
</html>
